html, body, #main {
    height: 100%;
}
html {
    color: rgba(0,0,0,0.67);
}
h6 {
    font-size: 1.2rem;
}
td, th {
    padding: 15px 10px;
}
table {
    border: 1px solid #d0d0d0;
}
table.search-stats {
    border: 0;
}
table.search-stats td {
    padding: 0;
}
header .tabs li {
    cursor: pointer;
}
header .tabs .indicator {
    background-color: #80cbc4;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
    margin: 40px 0;
}
select {
    background-color: transparent;
    width: 100%;
    border: none;
    border-radius: 0;
    height: 2.55rem;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-left: -4px;
}
select:active,
select:focus,
select:hover {
    outline: none;
}
select option {
    color: rgba(0,0,0,0.67);
}
select option:disabled {
    color: rgba(0,0,0,0.4);
}
.breadcrumb:last-child {
    color: rgba(255,255,255,0.7);
}
.container {
    max-width: 1200px;
}
.card-panel {
    position: relative;
    margin-bottom: 30px;
}
.card-panel.z-depth-4 {
    z-index: 1;
}
.material-icons {
    vertical-align: middle;
}
.progressbar-text {
    font-size: 80px;
    font-weight: 300;
    color: #009688 !important;
}
.calendar {
    margin-bottom: 20px;
}
.vertical {
    margin-top: 15px;
    margin-right: 15px;
}
.results-add {
    top: 49%;
    position: absolute;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}
.selected-influencers .collection {
    border: 0;
    text-align: right;
}
.selected-influencers .collection .collection-item {
    border: 0;
    padding: 2px 10px;
}
.selected-influencers .collection i.small {
    font-size: 1.5rem;
    margin-left: 10px;
}
.exposures .bar {
    height: 50px;
}
.exposures.pinned {
    position: fixed !important;
    background: #fff;
    z-index: 999;
    width: 400px;
    max-width: 95%;
    padding: 0 20px;
    border: 1px solid rgba(0,0,0,0.1);
}
.exposures.pinned h6 {
    font-size: 1rem;
}
.exposures.pinned .bar {
    height: 20px;
    transition: .2s all ease;
}
.side-nav.fixed header a {
    display: inline-block;
    padding: 0 10px;
    height: auto;
    line-height: 100%;
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
}
.side-nav p {
    margin-top: 0;
}
.separate-right {
    border-right: 1px solid rgba(0,0,0,0.1);
}
.separate-left {
    border-left: 1px solid rgba(0,0,0,0.1);
}
.thumb {
    display: none;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}